/* Font imported from google fonts.
css rule: 
"font-family: 'Lobster Two', sans-serif;
font-family: 'Montserrat', sans-serif; "*/
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



/* Asterisk wildcard selector */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #black;
    font-family: 'Montserrat', sans-serif;

}

/* Header */
header {
    background-color: #fe654f;
}

h1 {
    font-family: 'Lobster Two', sans-serif;
}

/* Main content */
main {
    background-color: #dce2aa;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
}

/* Footer */ 
footer {
    background-color: #5c80bc;
}