/* Font imported from google fonts.
css rule: 
"font-family: 'Lobster Two', sans-serif;
font-family: 'Montserrat', sans-serif; "*/
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Asterisk wildcard selector */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #000000;
    font-family: "Montserrat", sans-serif;
}

/* Makes scrolling to top smother.
Found on Youtube: https://www.youtube.com/watch?v=Vef9bxTilCU */
html body {
    scroll-behavior: smooth;
}

/* Header */
/* Header for home page */
#home {
    background: url("../images/bandheader.png") no-repeat center center/cover;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    position: relative;
    z-index: 99;
    width: 100%;
}

/* Header for music and tour pages */
.other-header {
    background-color: #baf0f9;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    position: relative;
    z-index: 99;
    width: 100%;
    padding-bottom: 10px;

}
/* Move nav to bottom of other header */
.other-header nav {
    top: 95%;
}

h1 {
    font-family: "Lobster Two", sans-serif;
    color: #fe654f;
    letter-spacing: 2px;
}

h2,
h3 {
    color: #31572c;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#band-name {
    display: flex;
    font-size: 200%;
    padding-top: 20px;
    padding-left: 10px;
}

/* Navbar */
#menu {
    font-size: 120%;
    letter-spacing: 2px;
    list-style-type: none;
    padding-left: 15px;
}

#menu>li {
    padding-top: 15px;
    margin-bottom: 2em;
}

.active {
    border-bottom: 1px solid #baf0f9;
    color: #baf0f9;
}

header a {
    text-decoration: none;
    color: inherit;
}

/* Navbar styling for dropdown menu*/
nav {
    position: absolute;
    background-color: rgb(254, 101, 79, 0.8);
    width: 100%;
    height: 240px;
    color: #ffffff;
    left: 0;
    display: none;
    top: 20%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    color: #fe654f;
}

/* Main content */
main {
    background-color: #dce2aa;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
}

/* Main for pages music and tour*/
.other-main {
    padding-top: 40px;
}

.main-text {
    text-align: center;
    padding-bottom: 40px;
}

.main-text>div {
    padding: 15px;
    line-height: 1.5;
}

.main-text h2,
h3 {
    padding-bottom: 10px;
}

.main-text h3 {
    padding-top: 10px;
}

#band-members {
    background-color: #31572c;
    color: #ffffff;
    text-align: center;
}

#band-members img {
    width: 100%;
    padding-top: 30px;
    /* Makes the pictures round since they are a true square */
    border-radius: 50%;
}

/* Makes band pictures bigger when hover */
#band-members img:hover {
    transform: scale(1.1);
}

/* Headers for Band memebrs profiles */
#band-members>h2,
#band-members h3,
#band-members h4 {
    font-family: "Lobster Two", sans-serif;
    color: #fe654f;
    letter-spacing: 2px;
    text-transform: none;
    font-size: 30px;
}

#band-members>h2 {
    padding-top: 15px;
}

#band-members h4 {
    font-size: 20px;
}

/* Subscribe to newsletter
OBS! BORROWED STYLE FROM: https: //www.w3schools.com/howto/howto_css_newsletter.asp */
/* Style the form element with a border around it */
form {
    border: 4px solid #f1f1f1;
}

/* Add some padding and a grey background color to containers */
.container {
    padding: 20px;
    background-color: #f1f1f1;
}

/* Style the input elements and the submit button */
input[type="text"],
input[type="submit"] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Add margins to the checkbox */
input[type="checkbox"] {
    margin-top: 16px;
}

/* Style the submit button */
input[type="submit"] {
    background-color: #04aa6d;
    color: white;
    border: none;
}

input[type="submit"]:hover {
    opacity: 0.8;
}

/* Tour Page*/
/* Tour-date Section */
#nashville {
    background: url("../images/nashville.jpg") no-repeat center center/cover;
}

#nashville>div {
    background-color: rgb(49, 87, 44, 0.7);
    color: #ffffff;
}

#nashville h3 {
    color: #ffffff;
}

#manchester {
    background: url("../images/manchester.jpg") no-repeat center center/cover;
}

#manchester>div {
    background-color: rgb(49, 87, 44, 0.5);
    color: #ffffff;
}

#manchester h3 {
    color: #ffffff;
}

#la {
    background: url("../images/la.jpg") no-repeat center center/cover;
}

#la>div {
    background-color: rgb(49, 87, 44, 0.5);
    color: #ffffff;
}

#la h3 {
    color: #ffffff;
}

#berlin {
    background: url("../images/berlin.jpg") no-repeat center center/cover;
}

#berlin>div {
    background-color: rgb(49, 87, 44, 0.5);
    color: #ffffff;
}

#berlin h3 {
    color: #ffffff;
}

#sydney {
    background: url("../images/sydney.jpg") no-repeat center center/cover;
}

#sydney>div {
    background-color: rgb(49, 87, 44, 0.7);
    color: #ffffff;
}

#sydney h3 {
    color: #ffffff;
}

#tour-date {
    padding-bottom: 40px;
}

#tour-date > div {
    padding: 0;
}

/* Music Page */
iframe {
    width: 100%;
    height: 350px;
}

#youtube {
    padding: 100px 0;
    background-color: #fe654f;
}

#album-list {
    padding-top: 40px;
}

#album-list img {
    width: 100%;
    padding: 20px;
}
 /* Style for span to act like a button */
.listen-button {
    background-color: #31572c;
    color: #ffffff;
    font-size: 100%;
    padding: 10px 35px;
    margin: 30px;
    border-radius: 20px;
    border-color: transparent;
    letter-spacing: 2px;
    display: inline-block;
}

/* Hover effect for button */
.listen-button:hover {
    background-color: #bedcba;
    color: #31572c;
    border: 1px solid #31572c;
}

#album-order h2 {
    text-align: center;
}

.center-button {
    display: flex;
    justify-content: center;
    align-items; center;
}

/* Arrow to scroll back top.
Found on Youtube: https://www.youtube.com/watch?v=Vef9bxTilCU */
.backtop {
    position: fixed;
    width: 50px;
    height: 50px;
    background: #bedcba;
    bottom: 70px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: #31572c;
    font-size: 30px;
}

.backtop:hover {
    background-color: #31572c;
    color: #bedcba;
}


/* Footer */
#social {
    background-color: #baf0f9;
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social i {
    font-size: 130%;
    padding: 5px;
    color: #fe654f;
}

.hidden {
    display: none;
}

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {

    /* Band members Profile aligns imgs 2 and 2 */
    #band-profiles {
        display: flex;
        flex-wrap: wrap;
        column-count: 2;
        justify-content: space-evenly;
        margin-top: 15px;
    }

    #band-profiles>div {
        width: 40%;
        box-sizing: border-box;
    }

    #band-members>h2 {
        font-size: 50px;
        padding-top: 20px;
    }

    /* Albums align 2 and 2*/
    #album-order {
        display: flex;
        flex-wrap: wrap;
        column-count: 2;
        justify-content: space-between;
        margin-top: 15px;
    }

    #album-order>div {
        width: 40%;
        box-sizing: border-box;
    }
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header*/
    nav {
        display: flex;
        justify-content: center;
        height: 2.1875rem;
        margin-top: 3px;
    }

    #menu {
        display: flex;
        padding-left: 7.5rem;
    }

    #menu>li {
        margin-right: 6.25rem;
        padding-top: 0.25rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #band-name {
        font-size: 300%;
        padding-top: 0;
    }
}

/* Media query: laptops and larger (992px and up) */
@media screen and (min-width: 992px) {

    /* Header*/
    #home {
        height: 600px;
    }

    #band-name {
        font-size: 550%;
        padding-top: 0;
    }

    #menu a:hover {
        border-bottom: 1px solid #baf0f9;
        color: #baf0f9;
    }

    /* Contains the content so it centers */
    .main-text {
        margin: 5em 15em;
    }

    /* Band member profiles aligns imgs 4 in a row */
    #band-profiles {
        column-count: 4;
        justify-content: space-evenly;
    }

    #band-profiles>div {
        width: 20%;
    }

    /* Removes the contaning for the section band-members on larger screens */
    #band-members {
        margin: 0;
        padding-bottom: 15px;
    }

    /* Music page */

    #youtube {
        padding: 100px;
        background-color: #fe654f;
    }

    #album-list {
        padding-bottom: 15px;
    }


}

/* Media query: large screens (1024px and up) */
@media screen and (min-width: 1024px) {

    /* Music Page */
    /* Youtube section */
    #youtube {
        display: flex;
        justify-content: center;
    }

    iframe {
        width: 600px;
        border: 0;
    }

    /*Album-list section*/
    #album-order {
        justify-content: space-evenly;
    }
}